<div class="hpWrapper">
  <mat-vertical-stepper
    [ngClass]="[animateTop ? 'hide' : 'slide-in-blurred-bottom']"
  >
<!--STEP 1-->
    <mat-step>
      <form>
        <ng-template matStepLabel>What are you looking for?</ng-template>
        <button
          mat-button
          matStepperNext
          *ngFor="let c of categories"
          class="card"
        >
          <img
            mat-card-image
            src="./assets/images/categories/{{ c.img }}"
            alt="{{ c.name }}"
          />{{ c.name }}
        </button>
      </form>
    </mat-step>

<!--STEP 2-->
    <mat-step>
      <form>
        <ng-template matStepLabel>Where?</ng-template>
        <ul>
          <li *ngFor="let a of areas" class="area">
            <button mat-button matStepperNext class="card" (click)="picker.open()">{{ a }}</button>
          </li>
        </ul>
      </form>
    </mat-step>

<!--STEP 3-->
    <mat-step>
      <form>
        <ng-template matStepLabel>When?</ng-template>
        <div class="datepicker">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <button
          mat-stroked-button
          matStepperNext
          color="primary"
          (click)="animateTop = !animateTop"
        >
          Let's do it!
        </button>
      </form>
    </mat-step>
  </mat-vertical-stepper>

  
  <button
  mat-stroked-button
  color="primary"
  (click)="animateTop = !animateTop"
>
  back!
</button>

  <app-results [animateTop]="animateTop"></app-results>
</div>
<div class="hpMaps">
   <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map>
</div>
