<mat-toolbar class="nav">
    <mat-icon id="menu" (click)="sidenav.toggle()" aria-label="Menu" aria-hidden="false">menu</mat-icon>
    <span>BI</span>
</mat-toolbar>
<mat-sidenav-container id="menuContent" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
        <ul>
            <li><a routerLink="/app-homepage" routerLinkActive="active" (click)="sidenav.close()">Homepage</a> </li>
            <li><a routerLink="/app-contact" routerLinkActive="active" (click)="sidenav.close()">Contact Us</a> </li>
        </ul>
    </mat-sidenav>

</mat-sidenav-container>

<router-outlet></router-outlet>